header{
    background-image: url("/images/header.png");
}

main{
    background-image: url("/images/fond.png");
}

img{
    width: 100%;
}

p {
    margin-top: 1em;
}

h1{
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 4em;
    font-family: "Oswald";
    padding-top: 1em;
    padding-bottom: 1em;
}

ul{
    list-style-type: none;
}

nav{
    padding-bottom: 4em;
}

header ul{
    margin: 0;
    text-align: center;
    background-color: #60B2E4;
    height: 4em;
    width: 100%;
}

header li{
    color: #fff;
    display: inline-block;
    margin-right: 2.6em;
    font-size: 1em;
    font-family: 'abel';
    padding-top: 1.5em;
}

header img{
    border: solid 1.5em #fff;
    margin-top: 1em;
}

.section1{
    margin-top: 3em;
    margin-bottom: 4em;
}

.spanun{
    font-weight: bold;
}

.bouton1{
    background-color: #ff3d00;
    width: 4em;
    height: 1.5em;
    border-radius: 5px;
}

.bouton1 span{
    color: #fff;
    padding: 1em;
}

h5{
    font-weight: bold;
}

.fondArticle{
    background-image: url("/images/fond-article.png");
    margin-right: : 0.5em;
}

.fondArticle img{
    padding: 1em;
}

.section2 {
    margin-bottom: 3em;
}

h2{
    font-size: 2em;
    font-family: 'Oswald'
}

#rouge{
    color:#ff3002;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.fullarticle{
    background-color: #ff3d00;
    width: 10em;
    height: 1.5em;
    border-radius: 5px;
    margin-top: 1.5em;
}

.fullarticle span{
    color: #fff;
    padding: 1em;
}

.october{
    background-color: #ff3d00;
    width: 10em;
    height: 2.5em;
    border-radius: 5px;
}

.october span{
    color: #fff;
    padding-left: 1.5em;
    vertical-align: -webkit-baseline-middle;
}

.border .bordureli{
    border-top: 0.1em solid grey;
}

h3{
    font-size: 1.3em;
}

.section3 section{
    margin-top: 1em;
    padding: 0.5em;
}

.petiteimage{
    width: auto;
}

.section3 li{
    height: 3em;
    padding-top: 1em;
}

.section3 ul{
    padding-left: 0;
    margin-top: 1.5em;
}

.bordureli{
    border-top: 1px solid grey;
}

#fonalacon{
    background-image: url("/images/bas-de-page.png");
}

.section4 h3{
    margin-bottom: 3.5em;
}

#citation{
    background-image: url("/images/citation.jpg");
    padding-bottom: 2em;
}

#citation p{
    font-style: italic;
    padding: 2em;
}

#citation span{
    font-style: italic;
    font-weight: bold;
    padding: 2em;
    padding-bottom: 2em;
}

.baspagec2{
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
}

.baspagec2 span, .baspagec4 span{
    font-weight: bold;
}

.baspagec2 p{
    font-style: italic;
}

.suppadding{
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

footer{
    margin: 0;
    text-align: center;
    background-image: url("/images/footer.png");
}

footer p{
    display: inline-block;
}
